<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <%= link_to t('brand'), root_path, class: 'brand-logo' %>

        <ul id="nav-mobile" class="side-nav right">
          <% if current_guest.current_questionnaires.length > 0 %>
            <li>
              <a href="#" class="dropdown-button"
                data-activates="questionnaires-dropdown">
                <%= t '.current_questionnaires' %>
                <i class="mdi-navigation-arrow-drop-down right"></i>
              </a>
              <ul id="questionnaires-dropdown" class="dropdown-content">
                <% current_guest.current_questionnaires.
                each do |questionnaire| %>
                <li>
                  <%= link_to questionnaire.name,
                  questionnaire_questions_path(questionnaire) %>
                </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <li>
            <%= link_to t('.new_questionnaire'), new_questionnaire_path %>
          </li>
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile">
          <i class="mdi-navigation-menu"></i>
        </a>
      </div>
    </div>
  </nav>
</div>
